body{
    padding: 5em 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to left bottom, rgb(30, 23, 23), rgb(122, 122, 225));
    color: white;
}
.container{
    height: auto;
    max-width: 500px;
    padding: 10px;
    background-color: rgba(140, 140, 237, 0.46);
    border-radius: 10px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 2px 5px rgb(123, 123, 229);
}
.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 15px 8px 5px black;
    margin: 1.5em;
    border-bottom: 3px solid rgb(105, 105, 227);
    display: inline-block;
}
#joke{
    font-family: monospace;
    font-size: 1.5em;
    text-align: center;
    padding: 3em;
    background-color: rgba(110, 110, 212, 0.45);
    border-radius: 10px;
    max-width: 500px;
    margin: 5em auto;
}
#btn{
    width: 20%;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;
    font-size: 1em;
    display: block;
    margin: auto;
    cursor: pointer;
}